* text=auto !eol
/.classpath -text
/.project -text
/LICENSE.txt -text
/colapi.jar -text
css/img/a_ajavarevolution.jpg -text
css/img/a_features.jpg -text
css/img/a_history.jpg -text
css/img/a_links.jpg -text
css/img/a_tools.jpg -text
css/img/a_topten.jpg -text
css/img/a_usage.jpg -text
css/img/bg.jpg -text
css/img/bg_collumb.jpg -text
css/img/bg_left.png -text
css/img/bg_right.png -text
css/img/browseapi.jpg -text
css/img/detailler_bg.jpg -text
css/img/detailler_leftcollumn.jpg -text
css/img/detailler_rightcollumn.jpg -text
css/img/getlibrary.jpg -text
css/img/getproduct_bg.jpg -text
css/img/getsource.jpg -text
css/img/header_bg.jpg -text
css/img/header_leftcollumn.jpg -text
css/img/header_rightcollumn.jpg -text
css/img/infobar_bg.jpg -text
css/img/infobar_center.jpg -text
css/img/infobar_left.jpg -text
css/img/infobar_right.jpg -text
css/img/infobar_sub_bottomleft.jpg -text
css/img/infobar_sub_bottommiddle.jpg -text
css/img/infobar_sub_bottomright.jpg -text
css/img/infobar_sub_center.jpg -text
css/img/infobar_sub_topleft.jpg -text
css/img/infobar_sub_topright.jpg -text
css/img/javalobby-88x31.gif -text
css/img/javanet.gif -text
css/img/javolution.png -text
css/img/javolution_log.gif -text
css/img/new.gif -text
css/img/osi-certified-72x60.gif -text
css/img/seperator.jpg -text
css/img/thesolution.gif -text
css/img/ventrobanner.jpg -text
css/index.css -text svneol=unset#application/octet-stream
css/javadoc.css -text svneol=unset#application/octet-stream
doc/AIAA-2007-6184.pdf -text
doc/Javolution-Collections.pdf -text
doc/Man33955.pdf -text
doc/benchmark.html -text
doc/coding_standard.txt -text
doc/img/.xvpics/j2ee.png -text
doc/img/.xvpics/j2me.png -text
doc/img/.xvpics/j2se.png -text
doc/img/.xvpics/javo.png -text
doc/img/.xvpics/javolution.png -text
doc/img/a_ajavarevolution.jpg -text
doc/img/a_features.jpg -text
doc/img/a_history.jpg -text
doc/img/a_links.jpg -text
doc/img/a_tools.jpg -text
doc/img/a_topten.jpg -text
doc/img/a_usage.jpg -text
doc/img/bg.jpg -text
doc/img/bg_collumb.jpg -text
doc/img/bg_left.png -text
doc/img/bg_right.png -text
doc/img/browse.jpg -text
doc/img/browseapi.jpg -text
doc/img/detailler_bg.jpg -text
doc/img/detailler_leftcollumn.jpg -text
doc/img/detailler_rightcollumn.jpg -text
doc/img/getlibrary.jpg -text
doc/img/getproduct_bg.jpg -text
doc/img/getsource.jpg -text
doc/img/header_bg.jpg -text
doc/img/header_leftcollumn.jpg -text
doc/img/header_rightcollumn.jpg -text
doc/img/infobar_bg.jpg -text
doc/img/infobar_center.jpg -text
doc/img/infobar_left.jpg -text
doc/img/infobar_right.jpg -text
doc/img/infobar_sub_bottomleft.jpg -text
doc/img/infobar_sub_bottommiddle.jpg -text
doc/img/infobar_sub_bottomright.jpg -text
doc/img/infobar_sub_center.jpg -text
doc/img/infobar_sub_topleft.jpg -text
doc/img/infobar_sub_topright.jpg -text
doc/img/j2ee.png -text
doc/img/j2me.png -text
doc/img/j2se.png -text
doc/img/jars.gif -text
doc/img/javalobby-88x31.gif -text
doc/img/javanet.gif -text
doc/img/javo.png -text
doc/img/javolution.png -text
doc/img/javolution_log.gif -text
doc/img/library.jpg -text
doc/img/new.gif -text
doc/img/osi-certified-72x60.gif -text
doc/img/seperator.jpg -text
doc/img/source.jpg -text
doc/img/thesolution.gif -text
doc/img/ventrobanner.jpg -text
doc/license.txt -text
/index.html -text
/pom.xml -text
src/main/java/javax/realtime/MemoryArea.java -text svneol=unset#text/plain
src/main/java/javax/realtime/NoHeapRealtimeThread.java -text svneol=unset#text/plain
src/main/java/javax/realtime/RealtimeThread.java -text svneol=unset#text/plain
src/main/java/javolution/context/Allocator.java -text svneol=unset#text/plain
src/main/java/javolution/context/AllocatorContext.java -text svneol=unset#text/plain
src/main/java/javolution/context/ArrayFactory.java -text svneol=unset#text/plain
src/main/java/javolution/context/ConcurrentContext.java -text svneol=unset#text/plain
src/main/java/javolution/context/ConcurrentException.java -text svneol=unset#text/plain
src/main/java/javolution/context/ConcurrentThread.java -text svneol=unset#text/plain
src/main/java/javolution/context/Context.java -text svneol=unset#text/plain
src/main/java/javolution/context/HeapContext.java -text svneol=unset#text/plain
src/main/java/javolution/context/ImmortalContext.java -text svneol=unset#text/plain
src/main/java/javolution/context/LocalContext.java -text svneol=unset#text/plain
src/main/java/javolution/context/LogContext.java -text svneol=unset#text/plain
src/main/java/javolution/context/ObjectFactory.java -text svneol=unset#text/plain
src/main/java/javolution/context/PersistentContext.java -text svneol=unset#text/plain
src/main/java/javolution/context/PoolContext.java -text svneol=unset#text/plain
src/main/java/javolution/context/SecurityContext.java -text svneol=unset#text/plain
src/main/java/javolution/context/StackContext.java -text svneol=unset#text/plain
src/main/java/javolution/internal/osgi/BundleActivatorImpl.java -text svneol=unset#text/plain
src/main/java/javolution/io/AppendableWriter.java -text svneol=unset#text/plain
src/main/java/javolution/io/CharSequenceReader.java -text svneol=unset#text/plain
src/main/java/javolution/io/Struct.java -text svneol=unset#text/plain
src/main/java/javolution/io/UTF8ByteBufferReader.java -text svneol=unset#text/plain
src/main/java/javolution/io/UTF8ByteBufferWriter.java -text svneol=unset#text/plain
src/main/java/javolution/io/UTF8StreamReader.java -text svneol=unset#text/plain
src/main/java/javolution/io/UTF8StreamWriter.java -text svneol=unset#text/plain
src/main/java/javolution/io/Union.java -text svneol=unset#text/plain
src/main/java/javolution/lang/ClassInitializer.java -text svneol=unset#text/plain
src/main/java/javolution/lang/Configurable.java -text svneol=unset#text/plain
src/main/java/javolution/lang/ConfigurableService.java -text svneol=unset#text/plain
src/main/java/javolution/lang/Immutable.java -text svneol=unset#text/plain
src/main/java/javolution/lang/MathLib.java -text svneol=unset#text/plain
src/main/java/javolution/lang/Realtime.java -text svneol=unset#text/plain
src/main/java/javolution/lang/Reference.java -text svneol=unset#text/plain
src/main/java/javolution/lang/Reflection.java -text svneol=unset#text/plain
src/main/java/javolution/lang/Reusable.java -text svneol=unset#text/plain
src/main/java/javolution/lang/ValueType.java -text svneol=unset#text/plain
src/main/java/javolution/testing/AssertionException.java -text svneol=unset#text/plain
src/main/java/javolution/testing/JUnitContext.java -text svneol=unset#text/plain
src/main/java/javolution/testing/TestCase.java -text svneol=unset#text/plain
src/main/java/javolution/testing/TestContext.java -text svneol=unset#text/plain
src/main/java/javolution/testing/TestSuite.java -text svneol=unset#text/plain
src/main/java/javolution/testing/TimeContext.java -text svneol=unset#text/plain
src/main/java/javolution/text/CharArray.java -text svneol=unset#text/plain
src/main/java/javolution/text/CharSet.java -text svneol=unset#text/plain
src/main/java/javolution/text/Cursor.java -text svneol=unset#text/plain
src/main/java/javolution/text/Text.java -text svneol=unset#text/plain
src/main/java/javolution/text/TextBuilder.java -text svneol=unset#text/plain
src/main/java/javolution/text/TextFormat.java -text svneol=unset#text/plain
src/main/java/javolution/text/TypeFormat.java -text svneol=unset#text/plain
src/main/java/javolution/util/FastBitSet.java -text svneol=unset#text/plain
src/main/java/javolution/util/FastCollection.java -text svneol=unset#text/plain
src/main/java/javolution/util/FastComparator.java -text svneol=unset#text/plain
src/main/java/javolution/util/FastIterator.java -text svneol=unset#text/plain
src/main/java/javolution/util/FastList.java -text svneol=unset#text/plain
src/main/java/javolution/util/FastMap.java -text svneol=unset#text/plain
src/main/java/javolution/util/FastSet.java -text svneol=unset#text/plain
src/main/java/javolution/util/FastTable.java -text svneol=unset#text/plain
src/main/java/javolution/util/Index.java -text svneol=unset#text/plain
src/main/java/javolution/util/LocalMap.java -text svneol=unset#text/plain
src/main/java/javolution/util/ReentrantLock.java -text svneol=unset#text/plain
src/main/java/javolution/util/StandardLog.java -text svneol=unset#text/plain
src/main/java/javolution/xml/QName.java -text svneol=unset#text/plain
src/main/java/javolution/xml/XMLBinding.java -text svneol=unset#text/plain
src/main/java/javolution/xml/XMLFormat.java -text svneol=unset#text/plain
src/main/java/javolution/xml/XMLObjectReader.java -text svneol=unset#text/plain
src/main/java/javolution/xml/XMLObjectWriter.java -text svneol=unset#text/plain
src/main/java/javolution/xml/XMLReferenceResolver.java -text svneol=unset#text/plain
src/main/java/javolution/xml/XMLSerializable.java -text svneol=unset#text/plain
src/main/java/javolution/xml/sax/Attributes.java -text svneol=unset#text/plain
src/main/java/javolution/xml/sax/ContentHandler.java -text svneol=unset#text/plain
src/main/java/javolution/xml/sax/DefaultHandler.java -text svneol=unset#text/plain
src/main/java/javolution/xml/sax/SAX2ReaderImpl.java -text svneol=unset#text/plain
src/main/java/javolution/xml/sax/XMLReader.java -text svneol=unset#text/plain
src/main/java/javolution/xml/sax/XMLReaderImpl.java -text svneol=unset#text/plain
src/main/java/javolution/xml/stream/AttributesImpl.java -text svneol=unset#text/plain
src/main/java/javolution/xml/stream/EntitiesImpl.java -text svneol=unset#text/plain
src/main/java/javolution/xml/stream/Location.java -text svneol=unset#text/plain
src/main/java/javolution/xml/stream/NamespaceContext.java -text svneol=unset#text/plain
src/main/java/javolution/xml/stream/NamespacesImpl.java -text svneol=unset#text/plain
src/main/java/javolution/xml/stream/XMLInputFactory.java -text svneol=unset#text/plain
src/main/java/javolution/xml/stream/XMLInputFactoryService.java -text svneol=unset#text/plain
src/main/java/javolution/xml/stream/XMLOutputFactory.java -text svneol=unset#text/plain
src/main/java/javolution/xml/stream/XMLOutputFactoryService.java -text svneol=unset#text/plain
src/main/java/javolution/xml/stream/XMLStreamConstants.java -text svneol=unset#text/plain
src/main/java/javolution/xml/stream/XMLStreamException.java -text svneol=unset#text/plain
src/main/java/javolution/xml/stream/XMLStreamReader.java -text svneol=unset#text/plain
src/main/java/javolution/xml/stream/XMLStreamReaderImpl.java -text svneol=unset#text/plain
src/main/java/javolution/xml/stream/XMLStreamWriter.java -text svneol=unset#text/plain
src/main/java/javolution/xml/stream/XMLStreamWriterImpl.java -text svneol=unset#text/plain
src/main/java/javolution/xml/ws/WebServiceClient.java -text svneol=unset#text/plain
src/main/javadoc/javolution/context/package.html -text
src/main/javadoc/javolution/io/package.html -text
src/main/javadoc/javolution/lang/package.html -text
src/main/javadoc/javolution/package.html -text
src/main/javadoc/javolution/testing/package.html -text
src/main/javadoc/javolution/text/package.html -text
src/main/javadoc/javolution/util/doc-files/list-add.png -text
src/main/javadoc/javolution/util/doc-files/map-put.png -text
src/main/javadoc/javolution/util/package.html -text
src/main/javadoc/javolution/xml/doc-files/xmlDataBinding.png -text
src/main/javadoc/javolution/xml/package.html -text
src/main/javadoc/javolution/xml/sax/package.html -text
src/main/javadoc/javolution/xml/stream/package.html -text
src/main/javadoc/javolution/xml/ws/package.html -text
src/main/javadoc/overview.html -text
src/test/java/javolution/ContextTestSuite.java -text
src/test/java/javolution/JavolutionTest.java -text
src/test/java/javolution/StructTestSuite.java -text
src/test/java/javolution/TypeFormatTestSuite.java -text
