* text=auto !eol
/.classpath -text
/.project -text
/build.xml -text
css/img/a_ajavarevolution.jpg -text
css/img/a_features.jpg -text
css/img/a_history.jpg -text
css/img/a_links.jpg -text
css/img/a_tools.jpg -text
css/img/a_topten.jpg -text
css/img/a_usage.jpg -text
css/img/bg.jpg -text
css/img/bg_collumb.jpg -text
css/img/bg_left.png -text
css/img/bg_right.png -text
css/img/browseapi.jpg -text
css/img/detailler_bg.jpg -text
css/img/detailler_leftcollumn.jpg -text
css/img/detailler_rightcollumn.jpg -text
css/img/getlibrary.jpg -text
css/img/getproduct_bg.jpg -text
css/img/getsource.jpg -text
css/img/header_bg.jpg -text
css/img/header_leftcollumn.jpg -text
css/img/header_rightcollumn.jpg -text
css/img/infobar_bg.jpg -text
css/img/infobar_center.jpg -text
css/img/infobar_left.jpg -text
css/img/infobar_right.jpg -text
css/img/infobar_sub_bottomleft.jpg -text
css/img/infobar_sub_bottommiddle.jpg -text
css/img/infobar_sub_bottomright.jpg -text
css/img/infobar_sub_center.jpg -text
css/img/infobar_sub_topleft.jpg -text
css/img/infobar_sub_topright.jpg -text
css/img/javalobby-88x31.gif -text
css/img/javanet.gif -text
css/img/javolution.png -text
css/img/javolution_log.gif -text
css/img/new.gif -text
css/img/osi-certified-72x60.gif -text
css/img/seperator.jpg -text
css/img/thesolution.gif -text
css/img/ventrobanner.jpg -text
css/index.css -text svneol=unset#application/octet-stream
css/javadoc.css -text svneol=unset#application/octet-stream
doc/Javolution-Collections.pdf -text
doc/Man33955.pdf -text
doc/benchmark.html -text
doc/coding_standard.txt -text
doc/img/.xvpics/j2ee.png -text
doc/img/.xvpics/j2me.png -text
doc/img/.xvpics/j2se.png -text
doc/img/.xvpics/javo.png -text
doc/img/.xvpics/javolution.png -text
doc/img/a_ajavarevolution.jpg -text
doc/img/a_features.jpg -text
doc/img/a_history.jpg -text
doc/img/a_links.jpg -text
doc/img/a_tools.jpg -text
doc/img/a_topten.jpg -text
doc/img/a_usage.jpg -text
doc/img/bg.jpg -text
doc/img/bg_collumb.jpg -text
doc/img/bg_left.png -text
doc/img/bg_right.png -text
doc/img/browse.jpg -text
doc/img/browseapi.jpg -text
doc/img/detailler_bg.jpg -text
doc/img/detailler_leftcollumn.jpg -text
doc/img/detailler_rightcollumn.jpg -text
doc/img/getlibrary.jpg -text
doc/img/getproduct_bg.jpg -text
doc/img/getsource.jpg -text
doc/img/header_bg.jpg -text
doc/img/header_leftcollumn.jpg -text
doc/img/header_rightcollumn.jpg -text
doc/img/infobar_bg.jpg -text
doc/img/infobar_center.jpg -text
doc/img/infobar_left.jpg -text
doc/img/infobar_right.jpg -text
doc/img/infobar_sub_bottomleft.jpg -text
doc/img/infobar_sub_bottommiddle.jpg -text
doc/img/infobar_sub_bottomright.jpg -text
doc/img/infobar_sub_center.jpg -text
doc/img/infobar_sub_topleft.jpg -text
doc/img/infobar_sub_topright.jpg -text
doc/img/j2ee.png -text
doc/img/j2me.png -text
doc/img/j2se.png -text
doc/img/jars.gif -text
doc/img/javalobby-88x31.gif -text
doc/img/javanet.gif -text
doc/img/javo.png -text
doc/img/javolution.png -text
doc/img/javolution_log.gif -text
doc/img/library.jpg -text
doc/img/new.gif -text
doc/img/osi-certified-72x60.gif -text
doc/img/seperator.jpg -text
doc/img/source.jpg -text
doc/img/thesolution.gif -text
doc/img/ventrobanner.jpg -text
doc/license.txt -text
/index.html -text
src/j2me/io/CharConversionException.java -text
src/j2me/io/Closeable.java -text
src/j2me/io/DataInput.java -text
src/j2me/io/DataOutput.java -text
src/j2me/io/File.java -text
src/j2me/io/FileFilter.java -text
src/j2me/io/FileInputStream.java -text
src/j2me/io/FileNotFoundException.java -text
src/j2me/io/FileOutputStream.java -text
src/j2me/io/FilenameFilter.java -text
src/j2me/io/Flushable.java -text
src/j2me/io/InvalidClassException.java -text
src/j2me/io/InvalidObjectException.java -text
src/j2me/io/NotActiveException.java -text
src/j2me/io/NotSerializableException.java -text
src/j2me/io/ObjectInput.java -text
src/j2me/io/ObjectInputStream.java -text
src/j2me/io/ObjectInputValidation.java -text
src/j2me/io/ObjectOutput.java -text
src/j2me/io/ObjectOutputStream.java -text
src/j2me/io/ObjectStreamException.java -text
src/j2me/io/OptionalDataException.java -text
src/j2me/io/Serializable.java -text
src/j2me/io/StreamCorruptedException.java -text
src/j2me/io/SyncFailedException.java -text
src/j2me/io/WriteAbortedException.java -text
src/j2me/lang/CharSequence.java -text
src/j2me/lang/CloneNotSupportedException.java -text
src/j2me/lang/Cloneable.java -text
src/j2me/lang/Comparable.java -text
src/j2me/lang/EnumConstantNotPresentException.java -text
src/j2me/lang/IllegalStateException.java -text
src/j2me/lang/Iterable.java -text
src/j2me/lang/NoSuchFieldException.java -text
src/j2me/lang/NoSuchMethodException.java -text
src/j2me/lang/Readable.java -text
src/j2me/lang/SecurityException.java -text
src/j2me/lang/ThreadLocal.java -text
src/j2me/lang/TypeNotPresentException.java -text
src/j2me/lang/UnsupportedOperationException.java -text
src/j2me/nio/Buffer.java -text
src/j2me/nio/BufferUnderflowException.java -text
src/j2me/nio/ByteBuffer.java -text
src/j2me/nio/ByteOrder.java -text
src/j2me/nio/CharBuffer.java -text
src/j2me/nio/InvalidMarkException.java -text
src/j2me/util/ArrayList.java -text
src/j2me/util/Collection.java -text
src/j2me/util/Comparator.java -text
src/j2me/util/ConcurrentModificationException.java -text
src/j2me/util/DuplicateFormatFlagsException.java -text
src/j2me/util/EventListener.java -text
src/j2me/util/FormatFlagsConversionMismatchException.java -text
src/j2me/util/Formattable.java -text
src/j2me/util/Formatter.java -text
src/j2me/util/FormatterClosedException.java -text
src/j2me/util/HashMap.java -text
src/j2me/util/HashSet.java -text
src/j2me/util/IllegalFormatCodePointException.java -text
src/j2me/util/IllegalFormatConversionException.java -text
src/j2me/util/IllegalFormatException.java -text
src/j2me/util/IllegalFormatFlagsException.java -text
src/j2me/util/IllegalFormatPrecisionException.java -text
src/j2me/util/IllegalFormatWidthException.java -text
src/j2me/util/InputMismatchException.java -text
src/j2me/util/InvalidPropertiesFormatException.java -text
src/j2me/util/Iterator.java -text
src/j2me/util/LinkedHashMap.java -text
src/j2me/util/LinkedHashSet.java -text
src/j2me/util/LinkedList.java -text
src/j2me/util/List.java -text
src/j2me/util/ListIterator.java -text
src/j2me/util/Map.java -text
src/j2me/util/MissingFormatArgumentException.java -text
src/j2me/util/MissingFormatWidthException.java -text
src/j2me/util/MissingResourceException.java -text
src/j2me/util/NoSuchElementException.java -text
src/j2me/util/Observable.java -text
src/j2me/util/Observer.java -text
src/j2me/util/Queue.java -text
src/j2me/util/RandomAccess.java -text
src/j2me/util/Set.java -text
src/j2me/util/SortedMap.java -text
src/j2me/util/SortedSet.java -text
src/j2me/util/TooManyListenersException.java -text
src/j2me/util/UnknownFormatConversionException.java -text
src/j2me/util/UnknownFormatFlagsException.java -text
src/j2me/util/concurrent/ConcurrentHashMap.java -text
src/javolution/Configuration.java -text
src/javolution/Javolution.java -text
src/javolution/JavolutionError.java -text
src/javolution/Perf_Io.java -text
src/javolution/Perf_Lang.java -text
src/javolution/Perf_Realtime.java -text
src/javolution/Perf_Util.java -text
src/javolution/Perf_Xml.java -text
src/javolution/io/Struct.java -text
src/javolution/io/Union.java -text
src/javolution/io/Utf8ByteBufferReader.java -text
src/javolution/io/Utf8ByteBufferWriter.java -text
src/javolution/io/Utf8StreamReader.java -text
src/javolution/io/Utf8StreamWriter.java -text
src/javolution/io/package.html -text
src/javolution/lang/Appendable.java -text
src/javolution/lang/Enum.java -text
src/javolution/lang/MathLib.java -text
src/javolution/lang/PersistentReference.java -text
src/javolution/lang/Reference.java -text
src/javolution/lang/Reflection.java -text
src/javolution/lang/Reusable.java -text
src/javolution/lang/Text.java -text
src/javolution/lang/TextBuilder.java -text
src/javolution/lang/TextFormat.java -text
src/javolution/lang/TypeFormat.java -text
src/javolution/lang/package.html -text
src/javolution/realtime/AllocationProfile.java -text
src/javolution/realtime/ConcurrentContext.java -text
src/javolution/realtime/ConcurrentException.java -text
src/javolution/realtime/ConcurrentThread.java -text
src/javolution/realtime/Context.java -text
src/javolution/realtime/HeapContext.java -text
src/javolution/realtime/LocalContext.java -text
src/javolution/realtime/LocalReference.java -text
src/javolution/realtime/ObjectFactory.java -text
src/javolution/realtime/ObjectPool.java -text
src/javolution/realtime/PoolContext.java -text
src/javolution/realtime/Realtime.java -text
src/javolution/realtime/RealtimeObject.java -text
src/javolution/realtime/StackReference.java -text
src/javolution/realtime/doc-files/realtime.jpg -text
src/javolution/realtime/package.html -text
src/javolution/util/FastCollection.java -text
src/javolution/util/FastComparator.java -text
src/javolution/util/FastList.java -text
src/javolution/util/FastMap.java -text
src/javolution/util/FastSet.java -text
src/javolution/util/FastTable.java -text
src/javolution/util/LocalMap.java -text
src/javolution/util/ReentrantLock.java -text
src/javolution/util/doc-files/map-put.png -text
src/javolution/util/package.html -text
src/javolution/xml/CharacterData.java -text
src/javolution/xml/FormatAttributes.java -text
src/javolution/xml/ObjectReader.java -text
src/javolution/xml/ObjectWriter.java -text
src/javolution/xml/XmlElement.java -text
src/javolution/xml/XmlException.java -text
src/javolution/xml/XmlFormat.java -text
src/javolution/xml/XmlInputStream.java -text
src/javolution/xml/XmlOutputStream.java -text
src/javolution/xml/package.html -text
src/javolution/xml/pull/AttributesImpl.java -text
src/javolution/xml/pull/CharSequenceImpl.java -text
src/javolution/xml/pull/Namespaces.java -text
src/javolution/xml/pull/XmlPullParser.java -text
src/javolution/xml/pull/XmlPullParserException.java -text
src/javolution/xml/pull/XmlPullParserImpl.java -text
src/javolution/xml/pull/package.html -text
src/javolution/xml/sax/Attributes.java -text
src/javolution/xml/sax/ContentHandler.java -text
src/javolution/xml/sax/DefaultHandler.java -text
src/javolution/xml/sax/WriterHandler.java -text
src/javolution/xml/sax/XMLReaderImpl.java -text
src/javolution/xml/sax/XmlSaxParserImpl.java -text
src/javolution/xml/sax/package.html -text
src/org/xml/sax/AttributeList.java -text
src/org/xml/sax/Attributes.java -text
src/org/xml/sax/ContentHandler.java -text
src/org/xml/sax/DTDHandler.java -text
src/org/xml/sax/DocumentHandler.java -text
src/org/xml/sax/EntityResolver.java -text
src/org/xml/sax/ErrorHandler.java -text
src/org/xml/sax/HandlerBase.java -text
src/org/xml/sax/InputSource.java -text
src/org/xml/sax/Locator.java -text
src/org/xml/sax/Parser.java -text
src/org/xml/sax/SAXException.java -text
src/org/xml/sax/SAXNotRecognizedException.java -text
src/org/xml/sax/SAXNotSupportedException.java -text
src/org/xml/sax/SAXParseException.java -text
src/org/xml/sax/XMLFilter.java -text
src/org/xml/sax/XMLReader.java -text
src/org/xml/sax/package.html -text
src/overview.html -text
